.spacer {
  width: 10px;
  height: 1px;
  background-color: #fff;
  filter: invert(0.5);
}

.dropdown {
  width: 90%;
  margin: calc(40px +36px +20px) 5% 0 5%;
  padding: 10px;
  z-index: 5;
}

.smallNavigation {
  display: none;
}

@media screen and (max-width: 850px) {
  .navigation {
    display: none;
  }

  .smallNavigation {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .smallNavigation {
    width: 39%;
  }
}
