.container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.rightSection {
  display: inline-flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.line {
  width: 100%;
  opacity: 0.5;
  margin-block-end: 3rem;
}

.bwLogo {
  fill: black;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

[data-mantine-color-scheme="dark"] .bwLogo {
  fill: white;
}

.bwLogo:hover {
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .rightSection {
    align-items: flex-start;
    text-align: left;
  }

  .content {
    flex-direction: column;
  }
}
