.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 10px;
  grid-template-areas:
    "status title"
    ".      language"
    ".      time";
}
