.heroContainer {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dashboardContainer {
  height: calc(100% - 36px - 50px - 80px);
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.downloadIcon {
  height: 50px;
  display: flex;
}

.downloadButton {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  font-weight: bold;
  padding-inline: 10%;
  gap: 15px;
  background-color: #7289da;
  color: white;
  border-radius: 6px;
  border: 1px solid #ccc;
}

[data-mantine-color-scheme="dark"] .downloadButton {
  background-color: #6275bc;
  border-color: #222;
}

.downloadButton:hover {
  background-color: #667bc4;
  text-decoration: none;
}

.heroText {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}
