.wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  height: 3rem;
  width: 1px;
  background-color: #c1c2c5;
}

.iconContainer {
  background-color: #eef1ff;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
}

[data-mantine-color-scheme="dark"] .iconContainer {
  background-color: #2b2c30;
}

.iconContainer:hover {
  filter: brightness(0.85);
}

.firstSection {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  padding: 16px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
    height: 130px;
  }
}
