* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  /* Mantine's CSS reset sets `height: 100%` but we don't want that */
  height: auto;
}

p,
a,
li {
  font-family: var(--font-ubuntu), sans-serif;
}

a {
  color: #5084cc;
}

input[data-error="true"]::placeholder {
  opacity: 0.6;
}
